<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/update/<%= readUser._id %>" method="post">
        <input type="text" name="name" id="" value="<%= readUser.name %>">
        <input type="text" name="email" id="" value="<%= readUser.email %>">
        <input type="tel" name="phone" value="<%= readUser.phone %>">
        <input type="submit" name="submit" id="" value="submit">
    </form>
</body>
</html>