<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post" action="/createAcc" >
        <input type="text" placeholder="username" name="username" >
        <input type="text" placeholder="email" name="email" >
        <input type="password" placeholder="password" name="password" >
        <input type="number" placeholder="age" name="age" >
        <input type="submit" value="logind">
    </form>
</body>
</html>